body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.3; 
    margin: 0; 
    padding: 0; 
    background: linear-gradient(to right, #FFFAE3, #A8DADC);
    transition: background-color 0.5s ease;
}

/* header */
.header {
    display: flex;                 /* Flexbox */
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0; 
    z-index: 1000; 
    background-color: #457B9D; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    width: 100%;
    height: 80px;
}

.logoImg {
    width: 20%;
    height: 60px;
    margin-left: 20px;
}

form {
    width: 70%;
    margin-left: 10px;
}

.search-container {
    position: relative;
}

#search-input {
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    padding-left: 20px;
    font-size: 20px;
    outline: none;
}

#btn-loupe {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.loupeImg {
    width: 25px;
    height: 25px;
}

.btn-cart {
    display: flex;                  /* Flexbox */
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    height: 60px;
    width: 60px;
    background-color: #FF6347; 
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    border-radius: 5px; 
}

.btn-cart:hover {
    background-color: #FF4500; 
    transform: translateY(-2px);
}

.btn-cart:active {
    transform: translateY(2px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.btn-cart img {
    max-width: 70%;
    max-height: 70%; 
}


/* navigation */
ul {
    font-size: 20px;
}

.side-nav {
    float: left;               /* Float */
    margin-top: 20px;
    margin-left: 20px;
    height: 100%;
    line-height: 30px;
    width: 20%;
    background-color: #E6E6FA;
    min-height: 82vh;
}

.side-nav li {
    list-style: none;
    padding-bottom: 10px;
    color: #4682B4;
}

.side-nav li a {
    text-decoration: none; 
    color: initial; 
}

.side-nav li a:hover {
    color: #FF6347;
}


/* main */
main {
    display: flex;
    gap: 20px;
    width: 100%;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);    /* Grid */
    width: 70%;
    gap: 20px;
    padding-top: 20px;

}

.product-card {
    background-color: #FFEBB7; 
    border: 1px solid #E76F51; 
    border-radius: 5px;
    overflow: hidden; 
    width: 100%;
    height: 100%;
    transition: transform 0.2s, box-shadow 0.2s; 
}

.product-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
}

.product-image {
    width: 100%;
    height: 65%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #ddd;
    object-fit: cover; 
    transition: transform 0.3s;
}

figure {
    display: flex;                  /* Flexbox */
    justify-content: space-between;
    align-items: center;
    padding-bottom: 90px;
}

figcaption {
    display: flex;                  /* Flexbox */
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center;
    width: 100px;
    line-height: 30px;
}

.name-travel {
    padding-top: 10px;
    font-size: 18px;
    margin: 0; 
    line-height: 24px;
    font-weight: 700;
    color: #2A9D8F;
}

.UAH {
    margin: 0;
    color: #E76F51;
    padding-bottom: 5px;
}

.btn-buy {
    display: flex;                  /* Flexbox */
    align-items: center;
    justify-content: center; 
    width: 50px;
    height: 70px;
    cursor: pointer;
    background-color: #F4A261; 
    color: #FFFFFF; 
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s; 
}

.btn-buy:hover {
    background-color: #D27D2B; 
    transform: scale(1.05); 
}

.btn-buy:focus {
    outline: none; 
    box-shadow: 0 0 5px #2A9D8F; 
}


/* Media Queries for Responsiveness */
@media (max-width: 1200px) { 
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
        width: 75%;
        margin-right: 20px;
        padding-left: 20px;
    }

    /* Make the side navigation smaller */
    .side-nav {
        width: 26%;
        
    }

    /* Adjust the header elements */
    .logoImg {
        width: 24%;
        height: 50px;
    }

    form {
        width: 60%;
    }

    #search-input {
        height: 50px;
        font-size: 18px;
    }

    .btn-cart {
        height: 50px;
        width: 50px;
        font-size: 20px;
    }

    .btn-cart img {
        max-width: 60%;
        max-height: 60%;
    }

    .product-card {
        width: 100%;
        height: auto;
    }

    .product-image {
        height: 60%; 
    }

    figcaption {
        width: auto;
        line-height: 24px;
    }

    .btn-buy {
        width: 45px;
        height: 60px;
    }

    .side-nav li {
        font-size: 16px;
    }
}

@media (max-width: 992px) {
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
    }

    .search-container {
        display: flex;
        flex-direction: row;
    }

    form {
        margin-left: 45px;
    }

    .btn-buy {
        width: 40px;
        height: 40px;
    }

    .header {
        display: flex;
        align-items: flex-start;
        height: auto;
        padding: 10px 0;
    }

    .logoImg {
        width: 20%;  
    }

    .btn-cart {
        width: 150px;
    }
}

@media (max-width: 768px) {
    .product-grid {
        grid-template-columns: repeat(1, 1fr);        /* Grid */
    }

    .side-nav {
        width: 40%;
    }

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: auto;
    }

    .logoImg {
        width: 33%;
    }

    .btn-cart {
        width: 110px;
    }
}

@media (max-width: 480px) {
    main {
        display: flex;
        flex-direction: column;
    }

    .side-nav {
        width: 91%; 
        min-height: 30px; 
    }

    .side-nav li {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .product-grid {
        width: 91%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .btn-buy {
        width: 90px;
        height: 60px;
    }
}