primary-color = #2980b9
secondary-color = #3498db
background-gradient = linear-gradient(to right, #8e44ad, #3498db, #f1c40f)

font-family-body = 'Merriweather', serif
font-family-heading = 'Georgia', serif

font-size-large = 2.5em
font-size-medium = 1.5em
line-height-normal = 1.3