body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5; 
    margin: 0; 
    padding: 0; 
    background-color: #E3F2FD;
    transition: background-color 0.5s ease;
}

/* Header */
header {
    display: flex;                 /* Flexbox */
    position: sticky;
    top: 0; 
    z-index: 1000; 
    background-color: #1E88E5; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    animation: slideDown 0.5s ease-in-out;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.logoImg {
    width: 15%;
    height: 60px;
    margin-left: 20px;
}

.btn-register {
    background-color: #BBDEFB; 
    color: #1E88E5; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    font-size: 16px; 
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    margin-right: 20px;
}

.btn-register:hover {
    background-color: #90CAF9; 
    transform: scale(1.05); 
}

/* Main */
main {
    width: 100%;
}

/* Section One */
.section-one {
    display: flex;                      /* Flexbox */
    justify-content: space-between;
    align-items: center;
    margin: 40px 20px;
    padding: 40px; 
    border-radius: 10px;
    background: linear-gradient(to right, #E0F7FA, #B2EBF2); 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); 
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.explore-content {
    width: 50%;
    color: #0D47A1; 
    padding: 20px;
}

.explore-content h1 {
    margin: 0 0 10px; 
    font-size: 3rem; 
    color: #1E88E5; 
    transition: color 0.3s;
}

.explore-content h1:hover {
    color: #FF7043;
}

.explore-content p {
    margin: 10px 0 20px; 
    font-family: 'Arial', sans-serif; 
    line-height: 1.5; 
    font-size: 1.2rem; 
}

.explore-button {
    background: linear-gradient(45deg, #FF7043, #F4511E);
    color: #fff; 
    border: none;
    border-radius: 25px; 
    padding: 15px 30px;
    font-size: 18px; 
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    outline: none;
}

.explore-button:hover {
    background: linear-gradient(45deg, #F4511E, #FF7043);
    transform: translateY(-4px) scale(1.05); 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.img-section-one {
    width: 50%;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

/* Section Two */
.section-two {
    background-image: url("./img/back.jpg");
    border-radius: 10px;
    padding: 60px;
    background-size: cover; 
    background-position: center; 
    display: flex;                        /* Flexbox */
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    margin: 150px 20px;
    animation: fadeInUp 0.8s ease-in-out;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.articles-container {
    display: flex;                     /* Flexbox */
    align-items: stretch;
    justify-content: center;
    gap: 40px;
}

.destinations-content,
.tips-content,
.adventures-content {
    width: 20%; 
    padding: 20px; 
    border-radius: 10px;
    color: #ffffff; 
    font-family: 'Arial', sans-serif; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s;
}

.destinations-content {
    background-color: #00796B; 
}

.destinations-content h1, .destinations-content p {
    color: #E0F2F1; 
}

.tips-content {
    background-color: #B2DFDB; 
}

.tips-content h1, .tips-content p {
    color: #004D40; 
}

.adventures-content {
    background-color: #C62828; 
}

.adventures-content h1, .adventures-content p {
    color: #FFEBEE; 
}

.destinations-content:hover,
.tips-content:hover,
.adventures-content:hover {
    transform: translateY(-5px);
}

.btn-learn {
    width: 22%;
    margin-top: 70px;
    padding: 12px 24px; 
    font-size: 18px; 
    color: #ffffff; 
    background-color: #FF7043; 
    border: none; 
    border-radius: 25px;
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.btn-learn:hover {
    background-color: #F4511E; 
    transform: scale(1.05);
}

/* Section Three */
.step-by-step-guide h1 {
    text-align: center;
    margin-top: 150px;
    padding-bottom: 20px;
    color: #1E88E5; 
}

.steps-container {
    display: grid;                         /* Grid */
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-left: 253px;
    margin-right: 237px;
}

.step {
    display: flex;                   /* Flexbox */
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;
    gap: 15px;
    width: 310px;
    height: 225px;
    background-color: #90CAF9;
    transition: transform 0.3s;
}

.step:hover {
    transform: scale(1.05);
}

.step h1 {
    font-size: 80px;
    padding-left: 20px;
    padding-bottom: 90px; 
    color: #FF7043; 
}

.step-content h2 {
    text-align: start;
    color: #1D3557;
    margin: 5px 0;
}

.step-content p {
    padding-right: 20px;
    text-align: start;
    color: #333; 
}

/* Button Styling */
.get-started-button {
    display: block; 
    margin: 0 auto; 
    justify-items: center;
    margin-top: 60px; 
    margin-bottom: 100px;
    padding: 12px 24px; 
    font-size: 18px;
    color: #ffffff; 
    background-color: #FF7043; 
    border: none; 
    border-radius: 25px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    width: 20%;
}

.get-started-button:hover {
    background-color: #F4511E; 
    transform: scale(1.05); 
}

/* Footer */
footer {
    margin-top: 150px;
    display: flex;                   /* Flexbox */
    background-color: #1A237E; 
    color: #fff; 
    padding: 20px; 
    justify-content: center; 
    position: relative; 
}
  
.logo {
    padding-right: 50px;
}

footer .logo {
    width: 200px;
    height: 70px; 
}
  
footer .list-items {
    display: flex;                       /* Flexbox */
    justify-content: space-around;
    margin-right: 50px;
    margin-left: 10px;
}
  
footer .list-items ul {
    list-style: none;
    padding: 0; 
    margin: 0;
}
  
footer .list-items li {
    margin-bottom: 20px; 
    font-size: 20px;
}

footer .list-items li a {
    text-decoration: none;
    color: white; 
}

footer .list-items li a:hover {
    color: #D55C4C; 
}

footer table {                            /* Table */
    width: 100%;
    border-collapse: collapse; 
}

footer td {
    vertical-align: top; 
}


/* Media Queries */
@media (max-width: 1200px) {
    header {
        flex-direction: row; 
        height: auto; 
    }

    .logoImg {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 20%; 
    }

    .btn-register {
        padding-top: 10px;
    }

    .section-one {
        display: flex;                      /* Flexbox */
        flex-direction: column;
    }

    .img-section-one {
        order: 1;
    }

    .explore-content {
        order: 2;
    }

    .explore-content, .img-section-one {
        width: 100%; 
    }

    .explore-content h1 {
        font-size: 2.5rem; 
    }

    .articles-container {
        flex-direction: column; 
        align-items: center; 
    }

    .destinations-content,
    .tips-content,
    .adventures-content {
        width: 80%; 
    }

    .steps-container {
        display: grid;                           /* Grid */
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        margin-left: 235px;
        gap: 40px;
    }

    .step {
        width: 290px;
    }

    footer {
        flex-direction: column; 
    }

    footer .logo {
        width: 150px;
        height: 50px;  
    }

    .list-items ul li {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .btn-learn {
        width: 55%;
    }

    .steps-container {
        display: flex;                      /* Flexbox */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px ;
        height: auto;
    }

    .step {
        width: 210%;
    }

    .get-started-button {
        width: 34%;
    }

    footer {
        height: 100%;
    }

    .list-items ul li {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    body {
        width: 123%;
    }

    .step-by-step-guide h1 {
        text-align: center;
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    body {
        margin: 0;
        padding: 0;
    }

    header {
        flex-direction: column; 
        height: auto; 
    }

    .logoImg {
        width: 80%; 
        margin: 10px 20px;
    }

    .btn-register {
        width: 90%; 
        margin: 10px 0; 
    }

    .articles-container {
        flex-direction: column; 
        gap: 20px; 
    }

    .step-by-step-guide {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .step-by-step-guide h1 {
        font-size: 19px;
    }

    .step {
        width: 100%;
        height: auto;
    } 

    footer .logo {
        width: 90px;
        height: 50px;  
    }

    footer {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    footer .list-items {
        flex-direction: column; 
        align-items: flex-start;
        margin: 0; 
        padding-right: 10px;
    }

    footer .list-items ul li {
        font-size: 10px; 
        line-height: 10px;
    }
}